<link />
<footer >
  <div>
    <div>
      <div>
        <h5>Contacto</h5>
        <p>Email:</p>
        <p>Teléfono:</p>
      </div>
    </div>
    <div>
      <div>
        <p>&copy; 2024 Mateo, Matias, Gianfranco</p>
      </div>
    </div>
  </div>
</footer>
