<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<!-- Header -->
	<header class="main-header">
		<% if (locals.user != undefined) { %>
  
			<%- include('./partials/headerLogueado') %>
		
		  <% } else { %>
			 
			<%- include('./partials/header') %>
		
		  <% } %>
	</header>
	<!-- /Header -->

	
	<!-- Banner -->
	<div class="banner">
		<img src="images/img-home-banner.jpg" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->


// detalle // 

























   <!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %>
	</footer>
	<!-- /footer -->
</body>	
</html>