<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	
  <% if (locals.user != undefined) { %>
  
	<%- include('./partials/headerLogueado') %>

  <% } else { %>
	 
	<%- include('./partials/header') %>

  <% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">          <form class="form" action="/products/register" method="POST">
				<div class="title">Crear Producto</div>
				<div class="input-nombre">
				  <input id="nombre" class="input" type="text" name="titulo" placeholder="Nombre" required/>
				</div>
				<div class="input-descipcion">
				  <input id="descripcion" class="input" type="text" name="descripcion" placeholder="Descripcion" required/>
			  </div>
			  <div class="input-container ic2">
				<input id="image" class="input" type="text" name="imagen" placeholder="Agregar Imagen:" required/>
			</div>
			<input type="hidden" name="user_id" value="1">
				<button type="text" class="submit">Agregar Producto</button>
	
	
			  </form>
				
				<br>
		
				

				<%- include('./partials/footer') %>
</body>

</html>