<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	
  <% if (locals.user != undefined) { %>
  
	<%- include('./partials/headerLogueado') %>

  <% } else { %>
	 
	<%- include('./partials/header') %>

  <% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12">          <form class="form" action="/products/register" method="POST">
				<div class="title">Crear Producto</div>
				<div class="input-container ic1">
				  <input id="title" class="input" type="text" name="title" placeholder="Nombre" />
				</div>
				<div class="input-container ic2">
				  <input id="descripcion" class="input" type="text" name="descripcion" placeholder="Descripcion" />
			  </div>
			  <div class="input-container ic2">
				<input id="image" class="image" type="image" name="image" placeholder="Agregar Imagen:" />
			</div>
				<button type="text" class="submit">Guardar</button>
	
	
			  </form>
				
				<br>
		
				

				<%- include('./partials/footer') %>
</body>

</html>