<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('./partials/head') %>
</head>

<body>
	<!-- Header -->
	<header class="main-header">
				 
		<%- include('./partials/header') %>
		
	</header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			
			<h2 class="col-12">
				 <form class="form" action="/users/register" method="POST" novalidate>
				<label for="email">Email:</label>
				<input type="email" id="email" name="email" value="">
			
				<label for="nombre">Usuario:</label>
				<input type="text" id="nombre" name="nombre" value="">
				
			
				<label for="password">Contraseña:</label>
				<input type="password" id="password" name="password" >
				
				<input type="submit" value="Enviar">
			</form>
			
		     </h2>

	<!-- footer -->
	<footer class="main-footer">
		<%- include('./partials/footer') %>
	</footer>
	<!-- /footer -->
</body>

</html>